<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>ActionView::Template::Handlers::ERB</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../../../../css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../../../../css/main.css" type="text/css" media="screen" />
    <script src="../../../../js/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../../../js/jquery-effect.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../../../js/main.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>     
    <div class="banner">
        <h1>
            <span class="type">Class</span> 
            ActionView::Template::Handlers::ERB 
            
                <span class="parent">&lt; 
                    
                    Handler
                    
                </span>
            
        </h1>
        <ul class="files">
            
            <li><a href="../../../../files/actionpack/lib/action_view/template/handlers/erb_rb.html">actionpack/lib/action_view/template/handlers/erb.rb</a></li>
            
        </ul>
    </div>
    <div id="bodyContent">
        <div id="content">
    

    

    
    

    
    
    <div class="sectiontitle">Methods</div>
    <dl class="methods">
    
        <dt>C</dt>
        <dd>
            <ul>
                
                <li><a href="#M002335">compile</a></li>
                
            </ul>
        </dd>
    
        <dt>E</dt>
        <dd>
            <ul>
                
                <li><a href="#M002333">erb_trim_mode</a></li>
                
            </ul>
        </dd>
    
        <dt>H</dt>
        <dd>
            <ul>
                
                <li><a href="#M002334">handles_encoding?</a></li>
                
            </ul>
        </dd>
    
    </dl>
    

    
    <div class="sectiontitle">Included Modules</div>
    <ul>
        
        <li>
            
            <a href="../Handlers.html">ActionView::Template::Handlers</a>
            
            START:includes
        </li>
        
    </ul>
    

    

    

    
    <div class="sectiontitle">Constants</div>
    <table border='0' cellpadding='5'>
        
        <tr valign='top'>
            <td class="attr-name">ENCODING_TAG</td>
            <td>=</td>
            <td class="attr-value">Regexp.new(&quot;\\A(&lt;%#{ENCODING_FLAG}-?%&gt;)[ \\t]*&quot;)</td>
        </tr>
        
        
    </table>
    

    

    
            <div class="sectiontitle">Class Public methods</div>
            
            <div class="method">
                <div class="title" id="M002333">
                    
                    <a name="M002333"></a><b>erb_trim_mode</b>
                    
                </div>
                
                <div class="description">
                  <p>
Specify trim mode for the <a href="ERB.html">ERB</a> compiler. Defaults to
&#8217;-&#8217;. See ERb documentation for suitable values.
</p>

                </div>
                
                
                
                
                <div class="sourcecode">
                    <p class="source-link">
                        Source: <a href="javascript:toggleSource('M002333_source')" id="l_M002333_source">show</a>
                        
                        | <a href="http://github.com/rails/rails/blob/0078df6b54e595421bb486613f7bc3693250b592/actionpack/lib/action_view/template/handlers/erb.rb#L72" target="_blank" class="github_url">on GitHub</a>
                        
                    </p>
                    <div id="M002333_source" class="dyn-source">
                        <pre>    <span class="ruby-comment cmt"># File actionpack/lib/action_view/template/handlers/erb.rb, line 72</span>
72:         <span class="ruby-identifier">cattr_accessor</span> <span class="ruby-identifier">:erb_trim_mode</span>
</pre>
                    </div>
                </div>
                
            </div>
            
            <div class="method">
                <div class="title" id="M002334">
                    
                    <a name="M002334"></a><b>handles_encoding?</b>()
                    
                </div>
                
                
                
                
                <div class="sourcecode">
                    <p class="source-link">
                        Source: <a href="javascript:toggleSource('M002334_source')" id="l_M002334_source">show</a>
                        
                        | <a href="http://github.com/rails/rails/blob/0078df6b54e595421bb486613f7bc3693250b592/actionpack/lib/action_view/template/handlers/erb.rb#L82" target="_blank" class="github_url">on GitHub</a>
                        
                    </p>
                    <div id="M002334_source" class="dyn-source">
                        <pre>    <span class="ruby-comment cmt"># File actionpack/lib/action_view/template/handlers/erb.rb, line 82</span>
82:         <span class="ruby-keyword kw">def</span> <span class="ruby-keyword kw">self</span>.<span class="ruby-identifier">handles_encoding?</span>
83:           <span class="ruby-keyword kw">true</span>
84:         <span class="ruby-keyword kw">end</span></pre>
                    </div>
                </div>
                
            </div>
            
            <div class="sectiontitle">Instance Public methods</div>
            
            <div class="method">
                <div class="title" id="M002335">
                    
                    <a name="M002335"></a><b>compile</b>(template)
                    
                </div>
                
                
                
                
                <div class="sourcecode">
                    <p class="source-link">
                        Source: <a href="javascript:toggleSource('M002335_source')" id="l_M002335_source">show</a>
                        
                        | <a href="http://github.com/rails/rails/blob/0078df6b54e595421bb486613f7bc3693250b592/actionpack/lib/action_view/template/handlers/erb.rb#L86" target="_blank" class="github_url">on GitHub</a>
                        
                    </p>
                    <div id="M002335_source" class="dyn-source">
                        <pre>     <span class="ruby-comment cmt"># File actionpack/lib/action_view/template/handlers/erb.rb, line 86</span>
 86:         <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">compile</span>(<span class="ruby-identifier">template</span>)
 87:           <span class="ruby-keyword kw">if</span> <span class="ruby-identifier">template</span>.<span class="ruby-identifier">source</span>.<span class="ruby-identifier">encoding_aware?</span>
 88:             <span class="ruby-comment cmt"># First, convert to BINARY, so in case the encoding is</span>
 89:             <span class="ruby-comment cmt"># wrong, we can still find an encoding tag</span>
 90:             <span class="ruby-comment cmt"># (&lt;%# encoding %&gt;) inside the String using a regular</span>
 91:             <span class="ruby-comment cmt"># expression</span>
 92:             <span class="ruby-identifier">template_source</span> = <span class="ruby-identifier">template</span>.<span class="ruby-identifier">source</span>.<span class="ruby-identifier">dup</span>.<span class="ruby-identifier">force_encoding</span>(<span class="ruby-value str">&quot;BINARY&quot;</span>)
 93: 
 94:             <span class="ruby-identifier">erb</span> = <span class="ruby-identifier">template_source</span>.<span class="ruby-identifier">gsub</span>(<span class="ruby-constant">ENCODING_TAG</span>, <span class="ruby-value str">''</span>)
 95:             <span class="ruby-identifier">encoding</span> = <span class="ruby-identifier">$2</span>
 96: 
 97:             <span class="ruby-identifier">erb</span>.<span class="ruby-identifier">force_encoding</span> <span class="ruby-identifier">valid_encoding</span>(<span class="ruby-identifier">template</span>.<span class="ruby-identifier">source</span>.<span class="ruby-identifier">dup</span>, <span class="ruby-identifier">encoding</span>)
 98: 
 99:             <span class="ruby-comment cmt"># Always make sure we return a String in the default_internal</span>
100:             <span class="ruby-identifier">erb</span>.<span class="ruby-identifier">encode!</span>
101:           <span class="ruby-keyword kw">else</span>
102:             <span class="ruby-identifier">erb</span> = <span class="ruby-identifier">template</span>.<span class="ruby-identifier">source</span>.<span class="ruby-identifier">dup</span>
103:           <span class="ruby-keyword kw">end</span>
104: 
105:           <span class="ruby-keyword kw">self</span>.<span class="ruby-identifier">class</span>.<span class="ruby-identifier">erb_implementation</span>.<span class="ruby-identifier">new</span>(
106:             <span class="ruby-identifier">erb</span>,
107:             <span class="ruby-identifier">:trim</span> =<span class="ruby-operator">&gt;</span> (<span class="ruby-keyword kw">self</span>.<span class="ruby-identifier">class</span>.<span class="ruby-identifier">erb_trim_mode</span> <span class="ruby-operator">==</span> <span class="ruby-value str">&quot;-&quot;</span>)
108:           ).<span class="ruby-identifier">src</span>
109:         <span class="ruby-keyword kw">end</span></pre>
                    </div>
                </div>
                
            </div>
            
</div>
    </div>
  </body>
</html>    