  <div id="C00000086">
<div class='banner'>
  <span class="file-title-prefix">Module</span><br />HelperMethods<br/>
  In:
<a href="#" onclick="jsHref('files/actionpack/lib/action_controller/components_rb.html');">actionpack/lib/action_controller/components.rb</a>

</div>
 <!-- banner header -->

  <div id="bodyContent" >
      <div id="content">




  <div class="sectiontitle">Methods</div>
  <ul>
  <li><a href="index.html?a=M000224&name=render_component" >render_component</a></li>
  </ul>






<div class="sectiontitle">Public Instance methods</div>
<div id="M000224" class="method">
  <div id="M000224_title" class="title">
    <b>render_component</b>(options)
  </div>
<div class="sourcecode">
  <p class="source-link">[ <a href="javascript:toggleSource('M000224_source')" id="l_M000224_source">show source</a> ]</p>
  <div id="M000224_source" class="dyn-source">
<pre>
    <span class="ruby-comment cmt"># File actionpack/lib/action_controller/components.rb, line 66</span>
66:       <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">render_component</span>(<span class="ruby-identifier">options</span>)
67:         <span class="ruby-ivar">@controller</span>.<span class="ruby-identifier">send!</span>(<span class="ruby-identifier">:render_component_as_string</span>, <span class="ruby-identifier">options</span>)
68:       <span class="ruby-keyword kw">end</span>
</pre>
  </div>
</div>
</div>
</div>

  </div>