  <div id="C00000085">
<div class='banner'>
  <span class="file-title-prefix">Module</span><br />InstanceMethods<br/>
  In:
<a href="#" onclick="jsHref('files/actionpack/lib/action_controller/components_rb.html');">actionpack/lib/action_controller/components.rb</a>

</div>
 <!-- banner header -->

  <div id="bodyContent" >
      <div id="content">




  <div class="sectiontitle">Methods</div>
  <ul>
  <li><a href="index.html?a=M000222&name=render_component" >render_component</a></li>
  <li><a href="index.html?a=M000223&name=render_component_as_string" >render_component_as_string</a></li>
  </ul>






<div class="sectiontitle">Protected Instance methods</div>
<div id="M000222" class="method">
  <div id="M000222_title" class="title">
    <b>render_component</b>(options)
  </div>
  <div class="description">
  <p>
Renders the component specified as the response for the current method
</p>
  </div>
<div class="sourcecode">
  <p class="source-link">[ <a href="javascript:toggleSource('M000222_source')" id="l_M000222_source">show source</a> ]</p>
  <div id="M000222_source" class="dyn-source">
<pre>
    <span class="ruby-comment cmt"># File actionpack/lib/action_controller/components.rb, line 80</span>
80:         <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">render_component</span>(<span class="ruby-identifier">options</span>) <span class="ruby-comment cmt">#:doc:</span>
81:           <span class="ruby-identifier">component_logging</span>(<span class="ruby-identifier">options</span>) <span class="ruby-keyword kw">do</span>
82:             <span class="ruby-identifier">render_for_text</span>(<span class="ruby-identifier">component_response</span>(<span class="ruby-identifier">options</span>, <span class="ruby-keyword kw">true</span>).<span class="ruby-identifier">body</span>, <span class="ruby-identifier">response</span>.<span class="ruby-identifier">headers</span>[<span class="ruby-value str">&quot;Status&quot;</span>])
83:           <span class="ruby-keyword kw">end</span>
84:         <span class="ruby-keyword kw">end</span>
</pre>
  </div>
</div>
</div>
<div id="M000223" class="method">
  <div id="M000223_title" class="title">
    <b>render_component_as_string</b>(options)
  </div>
  <div class="description">
  <p>
Returns the component response as a string
</p>
  </div>
<div class="sourcecode">
  <p class="source-link">[ <a href="javascript:toggleSource('M000223_source')" id="l_M000223_source">show source</a> ]</p>
  <div id="M000223_source" class="dyn-source">
<pre>
    <span class="ruby-comment cmt"># File actionpack/lib/action_controller/components.rb, line 87</span>
87:         <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">render_component_as_string</span>(<span class="ruby-identifier">options</span>) <span class="ruby-comment cmt">#:doc:</span>
88:           <span class="ruby-identifier">component_logging</span>(<span class="ruby-identifier">options</span>) <span class="ruby-keyword kw">do</span>
89:             <span class="ruby-identifier">response</span> = <span class="ruby-identifier">component_response</span>(<span class="ruby-identifier">options</span>, <span class="ruby-keyword kw">false</span>)
90: 
91:             <span class="ruby-keyword kw">if</span> <span class="ruby-identifier">redirected</span> = <span class="ruby-identifier">response</span>.<span class="ruby-identifier">redirected_to</span>
92:               <span class="ruby-identifier">render_component_as_string</span>(<span class="ruby-identifier">redirected</span>)
93:             <span class="ruby-keyword kw">else</span>
94:               <span class="ruby-identifier">response</span>.<span class="ruby-identifier">body</span>
95:             <span class="ruby-keyword kw">end</span>
96:           <span class="ruby-keyword kw">end</span>
97:         <span class="ruby-keyword kw">end</span>
</pre>
  </div>
</div>
</div>
</div>

  </div>